/********** Portfolio CSS **********/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');

:root {
    --primary: #002060;
    --secondary: #FFC448;
    --light: #FAFAFB;
    --dark: #12141D;
}
html{
    overflow-x: hidden;
  }
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.logo a img {
    width: 100%;
    height: 3rem;
  }


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/

.navbar.fixed-top {
    display: none;
    transition: .5s;
}

.navbar .navbar-nav .nav-link {
    padding: 20px 15px;
    color: var(--dark);
    font-size: 18px;
    font-weight: 600;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        padding: 10px 0;
    }
}

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
  }
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .navbar .menu img{
    height:100px;
    width:250px;
  } 
@media (min-width: 280px) and (max-width: 653px) {
    .navbar .menu img{
        height: 55px;
        width: 170px;
    }
} 
@media (min-width: 320px) and (max-width: 480px) {
    .navbar .menu img{
        height: 55px;
        width: 170px;
        margin: 0px 30px 0px;
    }
} 
@media (min-width: 540px) and (max-width: 720px) {
    .navbar .menu img {
        height: 60px;
        width: 200px;
        margin: 0px 100px 0px;
    }
} 
@media (min-width: 820px) and (max-width: 1180px) {
    .navbar .menu img{
        height: 70px;
        width: 200px;
        margin: 0px 250px 0px;
    }
} 
@media (min-width: 768px) and (max-width: 1024px) {
    .navbar .menu img{
        height: 70px;
        width: 220px;
        margin: 0px 210px 0px;
    }
} 
@media (min-width: 912px) and (max-width: 1368px) {
    .navbar .menu img {
        height: 70px;
        width: 220px;
        margin: 0px 276px 0px;
    }
} 

/*** Header ***/

#home {
    margin-bottom: 6rem;  
    font-family: 'Poppins', sans-serif;  
    background: url(../img/bg.svg) no-repeat;
    background-size: cover;
    max-width: auto;
}

.img1{
    max-width: 100%;
    height: auto;
    background: url(../img/home-banner.png);
    
}

#home .logo img
    {
        width: 200px;
        height: 60px;
        margin: 20px 250px 0px;
    }
@media (min-width: 320px) and (max-width: 480px) {
    #home .logo img{
        width: 160px;
        height: 50px;
        margin: 20px 175px 0px;
        }
     
}
@media (min-width: 390px) and (max-width: 844px) {
    #home .logo img{
        width: 160px;
        height: 50px;
        margin: 20px 190px 0px;
        }
     
}
@media (min-width: 414px) and (max-width: 896px) {
    #home .logo img{
        width: 160px;
        height: 50px;
        margin: 20px 205px 0px;
        }
     
}
@media (min-width: 412px) and (max-width: 915px) {
    #home .logo img{
        width: 160px;
        height: 50px;
        margin: 20px 205px 0px;
        }
     
}
@media (min-width: 540px) and (max-width: 720px) {
    #home .logo img{
        width: 180px;
        height: 55px;
        margin: 30px 280px 0px;
        }
     
}
@media screen and (min-width: 600px) and (max-width:700px) {
    #home .logo img{
        width: 170px;
        height: 50px;
        margin: 20px 175px 0px;
        }
}
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
    #home .logo img{
        width: 255px;
        height: 90px;
        margin: 40px 400px 0px;
        }
}
@media screen and (min-device-width: 820px)
and (max-device-width: 1180px) {
    #home .logo img{
        width: 300px;
        height: 100px;
        margin: 65px 400px 0px;
        }
}
@media screen and (min-device-width: 1080px)
and (max-device-width: 2340px) {
    #home .logo img{
        width: 300px;
        height: 100px;
        margin: 10px 400px 0px;
        }
}
.typed-cursor {
    font-size: 30px;
    color: var(--dark);
}

.btn-play {
    position: relative;
    display: block;
    box-sizing: content-box;
    width: 16px;
    height: 26px;
    border-radius: 100%;
    border: none;
    outline: none !important;
    padding: 18px 20px 20px 28px;
    background: var(--primary);
}

.btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background: var(--primary);
    border-radius: 100%;
    animation: pulse-border 1500ms ease-out infinite;
}

.btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 100%;
    transition: all 200ms;
}

.btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    left: -1px;
    border-left: 16px solid var(--primary);
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
        opacity: 0;
    }
}

.modal-video .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

.modal-video .modal-body {
    position: relative;
    padding: 0px;
}

.modal-video .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;
    background: #000000;
    opacity: 1;
}

.scrolldown h2{
    font-family: 'Poppins', sans-serif;  
    font-size: 18px;
    background-color: #4a3394;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    border-color: #6244C5;
    border: 1px solid transparent;
}

/** Social Icon **/
.socialicon{
    background-color: #4a3394;
    padding: 20px 0px 20px;
    width: auto;
    height: 100px;
    align-items: flex-start;
}

.socialicon .social-profile .social-group li a i{
 list-style-type: none;
 padding: 30px 0;
 text-align: center;
 position: relative;
}
.socialicon .social-profile .social-group li a{
    width: 60px;
    height: 60px;
    background-color: #fff;
    text-align: center;
    line-height:80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 5%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    right: 15px;
}

.socialicon .social-profile ul{
    list-style-type: none;
    text-align: center;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.socialicon .social-profile .social-group .fab{
   font-size: 25px;
   color: #000;
   align-items: center;
   text-decoration: none;
   bottom: 12px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .socialicon .social-profile .social-group li a {
        width: 60px;
        height: 60px;
        background-color: #fff;
        text-align: center;
        line-height: 80px;
        font-size: 35px;
        margin: 0 5px;
        display: block;
        border-radius: 5%;
        position: relative;
        overflow: hidden;
        z-index: 1;
        right: 15px;
    }
    .socialicon .social-profile .social-group .fab{
        font-size: 25px;
        color: #000;
        align-items: center;
        text-decoration: none;
        bottom: 12px;
     }
  }
/*** About ***/

.about_area .about_me{
    margin: 50px 0px 0px;
    font-family: 'Poppins', sans-serif;  
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    color: #4a3394;
}
.about_area .row .about_img img{
    width: 500px;
    height: 500px;
    margin: 40px 20px 0px;
    border-radius: 20px;
}
.about_area .row .main_title h2{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;  
    font-weight: 800;
    margin: 30px 0px 0px;
}
.about_area .row .main_title p{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;  
}


@media (min-width: 320px) and (max-width: 480px) {
    .about_area .row .about_img img {
        width: 310px;
        height: 310px;
        margin: 20px 15px 0px;
        border-radius: 18px;
    }
}

@media (min-width: 390px) and (max-width: 786px) {
    .about_area .row .about_img img {
        width: 310px;
        height: 310px;
        margin: 40px 15px 0px;
        border-radius: 25px;
    }
}

@media (min-width: 804px) and (max-width: 1024px) {
    .about_area .row .about_img img{
        width: 400px;
        height: 400px;
        margin: 40px 10px 0px;
        border-radius: 20px;
    }
    .about_area .row .main_title h2 {
        font-size: 35px;
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        margin: 40px 25px 0px;
    }
    .about_area .row .main_title p{
        margin: 20px 28px 0px;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;  
    }
    
}
@media (max-width: 1038px) and (min-width: 804px)  {
    .about_area .row .about_img img{
        width: 400px;
        height: 400px;
        margin: 40px 10px 0px;
        border-radius: 20px;
    }
    .about_area .row .main_title h2 {
        font-size: 35px;
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        margin: 40px 25px 0px;
    }
    .about_area .row .main_title p{
        margin: 20px 28px 0px;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;  
    }
    
}
/* iPhone X and Xs Max */
@media only screen 
    and (min-device-width: 375px) 
    and (min-device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) { 
        .about_area .row .about_img img {
            width: 310px;
            height: 310px;
            margin: 40px 20px 0px;
            border-radius: 25px;
        }
}

/* iPhone XR */
@media only screen 
    and (min-device-width: 414px) 
    and (min-device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) 
    and (orientation: portrait) { 
        .about_area .row .about_img img {
            width: 310px;
            height: 310px;
            margin: 40px 40px 0px;
            border-radius: 25px;
        }
}

/* iPad Air*/
@media only screen 
    and (min-device-width: 820px) 
    and (min-device-height: 1180px) 
    and (-webkit-device-pixel-ratio: 2) 
    and (orientation: portrait) {

        .about_area .row .about_img img {
            width: 400px;
            height: 400px;
            margin: 40px 150px 0px;
            border-radius: 25px;
        }
}

@media (min-width: 1025px) and (max-width: 1280px){
    .about_area .row .about_img img {
        width: 340px;
        height: 340px;
        margin: 40px 30px 0px;
        border-radius: 25px;
    }
    .about_area .row .main_title p{
        margin-top: 20px;
        font-size: 15px;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;  
    }
        }

/*** Timeline ***/
.thejourney .container-fluid h3{
    margin: 50px 0px 0px;
    font-family: 'Poppins', sans-serif;
    font-size:calc(1.425rem + 2.1vw) ;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    color: #4a3394;
}
.timeline:before {
    content: '';
    position:absolute;
    height:100%;
    left:50%;
    width:5px;
    top:-20px;
    background:#ffc941;
    z-index:1;
  }
  .timeline{
    position:relative;
    margin: 50px auto;
    width:1000px;
    padding:50px 0;
  }
  
  
  .timeline ul{
    margin:0;
    padding:0 ;
  }
  
  .timeline ul li{
    list-style:none;
    box-sizing:border-box; 
    line-height:normal;
    position:relative;
    width:50%;
    padding: 40px 70px;
  }
  
  .timeline ul li .right_content h6{
    color:rgba(59,112,239,1);
    padding:0px 2px 18px 0px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
  }
  .timeline ul li:nth-child(odd){
    float:left;
    text-align:right;
    clear:both;
  }
  
  .timeline ul li:nth-child(even){
    float:right;
    text-align:left;
    clear:both;
  }
  
  .left_content{
    padding-bottom:20px;
  }
  .left_content h6{
    color: #fff;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
  }
  .right_content h2{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #000;
  }
  .right_content p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
  }
  
  .timeline ul li:nth-child(odd):before{
    content: '';
    position:absolute;
    width:12px;
    height:12px;
    background:#3b2976;
    border-radius:50%;
    box-shadow: 0 0 0 3px rgba(58,112,239,0.2);
    right:-8px;
    top:24px;
    z-index:1;
  }
  
  .timeline ul li:nth-child(even):before{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: #3b2976;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgb(58 112 239 / 20%);
    left: -4px;
    top: 24px;
    z-index: 1;
  }
  
  .timeline ul li:nth-child(odd) .left_content{
    position: absolute;
    top: 8px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    color: #000;
    box-shadow: 0 0 0 3px rgb(78 52 144);
    border-radius: 1px;
    background: #3b2976;
  }
  
  .timeline ul li:nth-child(even) .left_content{
    position: absolute;
    top: 8px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    box-shadow: 0 0 0 2px rgb(78 52 144);
    border-radius: 1px;
    background: #3b2976;
  }
  .timeline .right_content .journeypic{
    width: 300px;
    height: 300px;
  }
  
  @media (max-width: 1000px){
    
    .timeline{
      width:100%;
    }
  }
  
  @media (max-width: 767px){
    .timeline{
      width:100%;
    }
    .timeline:before{
      left:20px;
    }
    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even){
      width:100%;
      text-align:left;
     padding-left:50px; 
    }
    
    .timeline ul li:nth-child(odd):before
      {
      top:-18px;
      left:16px;
    
    }
    .timeline ul li:nth-child(even):before
    { 
      top:-18px;
      left:16px;
    }
    
      .timeline ul li:nth-child(odd) .left_content,
    .timeline ul li:nth-child(even) .left_content
    {
      top:-30px;
      left:50px;
      right:inherit;
    }
  
    
  }


/*** Skills & Experience ***/

#skill .progress {
    height: 5px;
    border-radius: 5px;
}

#skill .progress .progress-bar {
    width: 0px;
    border-radius: 5px;
    transition: 3s;
}

#skill .nav-pills .nav-link {
    color: var(--dark);
}

#skill .nav-pills .nav-link.active {
    color: #FFFFFF;
}
#skill .tab-content{
    align-items: center;
    justify-content: center;
    margin: 10px 0px 0px;
}
#skill .tab-content hr {
    width: 30px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
}

@media (min-width: 320px) and (max-width: 480px) {
    #skill .row .nav .nav-item .nav-link a{
      font-size: 20px;
    }
}


/*** Service ***/
.service-item .bg-icon {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/bg-icon.png) center center no-repeat;
    background-size: cover;
}


/*** Project Portfolio ***/
#portfolio-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--dark);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
    color: var(--primary);
    border-color: var(--primary);
}

.portfolio-img {
    position: relative;
}

.portfolio-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(98, 68, 197, .9);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 30px;
    padding-bottom: 100px !important;
    opacity: 0;
    transition: .5s;
}

.portfolio-item:hover .portfolio-btn {
    opacity: 1;
    padding-bottom: 30px !important;
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    opacity: .7;
}

.team-item .team-text {
    position: absolute;
    left: 0;
    right: 60px;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: .5s;
}

.team-item:hover .team-text {
    right: 30px;
    opacity: 1;
}

.team-item .team-text div {
    transition: .5s;
}

.team-item:hover .team-text div {
    margin-left: 30px;
}


/*** Testimonial ***/
.testimonial-left,
.testimonial-right {
    position: relative;
}

.testimonial-left img,
.testimonial-right img {
    position: absolute;
    padding: 5px;
    border: 1px solid var(--secondary);
    border-radius: 70px;
}

.testimonial-left img:nth-child(1),
.testimonial-right img:nth-child(3) {
    width: 70px;
    height: 70px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial-left img:nth-child(2),
.testimonial-right img:nth-child(2) {
    width: 60px;
    height: 60px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.testimonial-left img:nth-child(3),
.testimonial-right img:nth-child(1) {
    width: 50px;
    height: 50px;
    bottom: 10%;
    right: 10%;
}

.testimonial-carousel .owl-item img {
    width: 120px;
    height: 120px;
}

.testimonial-carousel .testimonial-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid var(--secondary);
    border-radius: 60px;
}

.testimonial-carousel .owl-dots {
    height: 40px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 2px solid var(--secondary);
    border-radius: 30px;
    transition: .5s;
}

.testimonial-carousel .owl-dot::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 5px;
    left: 5px;
    border-radius: 16px;
    background: var(--secondary);
    transition: .5s;
}

.testimonial-carousel .owl-dot.active::after {
    background: var(--primary);
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}
.back-to-top i{
    top: 20px;
}